---
const { skill } = Astro.props;
import "../styles/global.css";
---
<div class="my-2 mx-1 rounded-full bg-blue-200">
	<div class="px-3 py-2 font-serif text-blue-900 text-nowrap text-sm">
        {skill}
    </div>
</div>